@font-face {
  font-family: "Merriweather";
  src: url("../assets/fonts/Merriweather-Regular.woff2") format("woff2");
}

.main-grid {
  grid-column: flush-left / flush-right;
  grid-row: main;
  --container-max-width: 14.75rem;
  --container-min-width: 14.75rem;
  --hero-row-height: minmax(750px, 65vh);
  display: grid;
  grid-template-columns:
    [flush-left] minmax(0, 1fr) [container-left]
    repeat(
      12,
      [col-start] minmax(var(--container-min-width), var(--container-max-width))
        [col-end]
    )
    [container-right] minmax(0, 1fr) [flush-right];
  grid-template-rows: [hero] var(--hero-row-height);
}

@media screen and (max-height: 750px) {
  .main-grid {
    --hero-row-height: calc(100vh - var(--nav-height));
  }
}

.hero {
  grid-column: flush-left / flush-right;
  grid-row: hero;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url(../assets/images/austin.jpg);
  background-size: cover;
  background-position: 50% 25%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-text {
  display: flex;
  flex-direction: column;
}

.overwhelmingly-large {
  font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  margin: 0;
  color: var(--text-accent);
  font-size: clamp(32px, calc(1rem + 4vw), 96px);
}

.oversized {
  margin: 0;
  font-size: clamp(15px, calc(0.6rem + 1.6vw), 42px);
  color: var(--text-accent);
}
