.portfolio-cards {
  --card-title-font-size: clamp(1.8rem, calc(1rem + 1.2vw), 3.2rem);
  --card-heading-width: calc(50% - 1.3rem);
  --card-heading-padding-right: 1.3rem;
  --card-hero-image-width: 95%;
}
